-------
* 日期：2022-10-19 \ week09（周三）
* 课程：python
* 记录人：shenlianjie
-------

# 本周学习内容

> 1. 列表的方法

> 2. while循环

## 1. 列表的方法
> 1. 使用.Tab键查看列表的方法
> 2. 使用help(查看方法的使用规则)

In [2]:
names = ["Jack","Alex","Marry","Jan"]
names

['Jack', 'Alex', 'Marry', 'Jan']

### 1.1 列表的增加

In [3]:
names.append("Lihua")

In [4]:
names

['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [5]:
help(names.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [6]:
help(names.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [7]:
names

['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [8]:
names.insert(2,"Zhichao")

In [9]:
names

['Jack', 'Alex', 'Zhichao', 'Marry', 'Jan', 'Lihua']

### 2. 列表的删除

In [10]:
help(names.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [11]:
names.remove("Zhichao")

In [12]:
names

['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

* 正确的删除方法的流程
> 1. 查询 value是否存在列表当中
> 2. 对存在的value进行删除

In [14]:
"Wang" in names

False

In [13]:
names.remove("Wang")

ValueError: list.remove(x): x not in list

In [15]:
if "Wang" in names:
    names.remove("Wang")

In [ ]:
# 实践：删除系统：
## 1. 如果输入的值存在，删除；2.如果输入的结果不存在，提示用户查询无结果

In [16]:
names

['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [27]:
user_input_name = input("请输入要删除的内容：")
if user_input_name in names:
    names.remove(user_input_name)
    print("删除成功！")
else:
    print("您输入的结果不存在，删除无效")
print(names)

请输入要删除的内容：Lihua
删除成功！
['Marry', 'Jan']

---------
* 列表的删除

In [28]:
# 重新建立names列表数据
names = ['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [29]:
names

['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [31]:
help(names.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [30]:
help(names.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [32]:
names.pop() # 直接使用pop()，删除最后一位

'Lihua'

In [33]:
names

['Jack', 'Alex', 'Marry', 'Jan']

In [34]:
names.pop(2)

'Marry'

In [35]:
names

['Jack', 'Alex', 'Jan']

In [37]:
len(names)

3

In [40]:
pop_index = int(input("输入删除的索引值："))

输入删除的索引值：2

In [41]:
if pop_index<len(names):
    names.pop(pop_index)
    print("删除成功！")
else:
    print("您输入的值不在index的范围内")

删除成功！

In [42]:
names

['Jack', 'Alex']

### 3. 列表的修改

In [43]:
names[0] = "Zhichao"

In [44]:
names

['Zhichao', 'Alex']

### 4. 列表的其他方法

In [45]:
names = ['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [46]:
names.clear()

In [47]:
names

[]

In [51]:
names_class1 = ['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [52]:
names_class1

['Jack', 'Alex', 'Marry', 'Jan', 'Lihua']

In [50]:
help(names.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [53]:
names_class2 = ["李晓峰","王丽","刘明"]
names_class2

['李晓峰', '王丽', '刘明']

In [54]:
names_class1.extend(names_class2) # 注意：使用列表的方法的列表进行扩展

In [55]:
names_class1

['Jack', 'Alex', 'Marry', 'Jan', 'Lihua', '李晓峰', '王丽', '刘明']

----
* sort() 排序

In [56]:
立定跳远_男生 = [230,250,245,255,260,270]

In [57]:
help(立定跳远_男生.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [58]:
立定跳远_男生.sort()

In [59]:
立定跳远_男生

[230, 245, 250, 255, 260, 270]

In [60]:
立定跳远_男生.sort(reverse=True)

In [61]:
立定跳远_男生

[270, 260, 255, 250, 245, 230]